@import "car/car.css";

.garage-body {
    color: white;
}

body {
    -ms-overflow-style: none;
    scrollbar-width: none;
    overflow-y: scroll;
}

body::-webkit-scrollbar {
    display: none;
}