.a-button {
    cursor: pointer;
    font-size: 20px;
    background: transparent;
    border: 2px solid darkseagreen;
    border-radius: 5px;
    font-weight: bold;
}

.a-button {
    color: darkseagreen;
    border: 1px solid darkseagreen;
}

.gray {
    color: darkslategray;
    border: 1px solid darkslategray;
}