body {
    background: black;
}

.header-wrapper {
    height: 60px;
    margin: 40px;
    display: flex;
    align-items: center;
}

.header-button {
    width: 130px;
    height: 35px;
    margin: 5px;
    border-radius: 8px;
    background: palegoldenrod;
    border-bottom: 5px solid yellowgreen;
    font-weight: bold;
    font-size: 16px;
}

#garage:active,
#winners:active {
    border-bottom: 3px solid yellowgreen;
}

.gw {
    color: white;
}

.garage-body {
    padding: 20px;
    color: white;
}

.garage-body__car {
    display: flex;
    align-items: center;
}