.generate-button {
    font-size: 15px;
    font-weight: bold;
    background: lavender;
    height: 27px;
    width: 85px;
    border-radius: 5px;
    border-bottom: 4px solid cornflowerblue;
}

.generate-button {
    height: 30px;
    width: 170px;
}

.generate-button:active {
    border-bottom: 2px solid cornflowerblue;
}